
/* Styles for <main> content of 'about' page*/

.about-main {
    margin: 25px 20px 80px 20px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    background: rgba(51, 170, 51, .5);
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #ececec;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
}

p, ul {
    margin: 10px;
}

li {
    list-style-type: disc;
    margin-left: 1em;
}

.about-main a {
    color: orange;
}

.about-main a:hover {
    text-decoration: underline;
}


