

.portfolio-title {
    margin: 1rem 0 0;
    margin-bottom: 1.5rem;
}

.image-size {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    /*padding: 5px;*/
}

.image-size:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.portfolio-pics {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.portfolio-item {
    padding: 5px;
}

.portfolio-item-image {
    background-color: #008a00;
}

.portfolio-item-image > a:hover {
    background: none;
}

.portfolio-item-name {
    background-color: #008a00;
    padding: 17px 12px 12px 17px;
}

.portfolio-item-name > a {
    color: white;
}

.portfolio-item-name > a:hover {
    color: orange;
    background: none;
}
